$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

.scoreboard {
  padding: 10px 0;
  margin: 0 auto;
  display: inline-block;
  clear: both;
}

  .scoreboard ul {
    display: block;
    overflow: hidden;
    float: left;
    clear: both;
    padding: 0;
    margin: 0;
    border-top: 1px solid;
    border-left: 1px solid;
  }

  .scoreboard ul:first-child {
    border-top: none;
    border-left: none;
    padding: 0 0 0 1px;
  }

    .scoreboard ul:first-child li:first-child {
      border-top: none;
    }

  .scoreboard ul:last-child {
    border-bottom: 1px solid;
  }

    .scoreboard li {
      float: left;
      list-style: none;
      font-size: 16px;
      line-height: 16px;
      padding: 7px 0;
      width: 30px;
      text-align: center;
      border-right: 1px solid;
    }

    .scoreboard li:first-child {
      text-align: left;
      width: 80px;
      padding: 7px 10px;
    }

    .scoreboard li:last-child {
      font-weight: bold;
    }

    .scoreboard ul:first-child li {
      border-top: 1px solid;
      font-size: 12px;
      font-weight: bold;
    }


.bases {
  width: 100px;
  height: 100px;
  margin: 10px 60px 40px 20px;
  border: 1px solid;
  @include rotate(-45deg);
}

  .bases div {
    float: left;
    background: rgba(000,000,000,.15);
    width: 35px;
    height: 35px;
  }

  .bases div.occupied {
    background: blue;
  }

  .bases div.first {
    margin: 14px 0 0 14px;
  }

  .bases div.second {
    margin: 0 0 0 14px;
  }

  .bases div.third {
    margin: 0 14px 14px 0;
  }

  .bases div.home {
    margin: 14px 14px 0 0;
    clear: left;
  }
