<div class="scoreboard">
  <ul>
    <li>&nbsp;</li>
    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
      {{i}}
    </li>
  </ul>
  <ul>
    <li>Away</li>
    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,0]" ng-switch on="game.scoreboard.away[i]">
      <span ng-switch-default>{{game.scoreboard.away[i]}}</span>
      <span ng-switch-when="undefined">&nbsp;</span>
    </li>
  </ul>
  <ul>
    <li>Home</li>
    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,0]" ng-switch on="game.scoreboard.home[i]">
      <span ng-switch-default>{{game.scoreboard.home[i]}}</span>
      <span ng-switch-when="undefined">&nbsp;</span>
    </li>
  </ul>
</div>

<br clear="both"/>
<br clear="both"/>

<div class="bases">
  <div class="third" ng-class="{'occupied':game.status.bases[2]}" ng-click="runnerClick(2)">
    <span>{{game.status.bases[2].name || '&nbsp;'}}</span>
  </div>
  <div class="second" ng-class="{'occupied':game.status.bases[1]}" ng-click="runnerClick(1)">
    <span>{{game.status.bases[1].name || '&nbsp;'}}</span>
  </div>
  <div class="home"></div>
  <div class="first" ng-class="{'occupied':game.status.bases[0]}" ng-click="runnerClick(0)">
    <span>{{game.status.bases[0].name || '&nbsp;'}}</span>
  </div>
</div>

<p><strong>{{game.currentBatter().name}}</strong> | {{game.count.balls}} - {{game.count.strikes}} | {{game.count.outs}} Out</p>

<hr/>

<button ng-click="game.pitch()">Ball</button>
<button ng-click="game.pitch({strike:true})">Strike</button>

<hr/>

<button ng-click="game.pitch({hit:true})">Single</button>
<button ng-click="game.pitch({hit:true,bases:2})">Double</button>
<button ng-click="game.pitch({hit:true,bases:3})">Triple</button>
<button ng-click="game.pitch({hit:true,bases:4})">Home Run</button>

<hr/>

<button ng-click="game.pitch({out:true})">Out</button>
